<h2>Sign up</h2>

<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>


  <div class="field mb-2">
    <%= f.label :first_name, "（姓）" %>
    <%= f.text_field :first_name, autofocus: true, required: true %>
  </div>


  <div class="field mb-2">
    <%= f.label :last_name, "（名）" %>
    <%= f.text_field :last_name, autofocus: true, required: true %>
  </div>


  <div class="field mb-2">
    <%= f.label :kana_first_name, "(セイ)" %>
    <%= f.text_field :kana_first_name, autofocus: true, required: true %>
  </div>


  <div class="field mb-2">
    <%= f.label :kana_last_name, "(メイ)" %>
    <%= f.text_field :kana_last_name, autofocus: true, required: true %>
  </div>


  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>


  <div class="field">
    <%= f.label :postal_code, "郵便番号(ハイフンなし)" %><br>
    <%= f.text_field :postal_code, autofocus: true, required: true %>
  </div>


  <div class="field">
    <%= f.label :address, "住所" %><br>
    <%= f.text_field :address, autofocus: true, required: true %>
  </div>


  <div class="field">
    <%= f.label :phone_number, "電話番号(ハイフンなし)" %><br>
    <%= f.text_field :phone_number, autofocus: true, required: true %>
  </div>



  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "customers/shared/links" %>
