<div class='container'>
  <div class="form-inline mt-2 mb-3">
    <h2 class="col-2 bg-light text-center">商品一覧</h2>
    <div class="offset-md-9 col-1">
      <%= link_to new_admin_item_path, class:"text-reset" do %>
        <i class="fa-solid fa-plus fa-2x rounded-circle shadow"></i>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-12 px-5 px-sm-0">
      <table class='table table-borderless border-bottom'>
        <thead class="bg-light">
          <tr>
            <th class="col-sm-1">商品ID</th>
            <th class="col-sm-4">商品名</th>
            <th class="col-sm-1">税抜価格</th>
            <th class="col-sm-4">ジャンル</th>
            <th class="col-sm-2">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td class="text-decoration-underline">
                <%= link_to admin_item_path(item), class:"text-reset border-bottom border-dark" do %>
                  <%= item.name %>
                <% end %>
              </td>
              <td><%= item.non_taxed_price.to_s(:delimited) %></td>
              <td>
                  <%= item.genre.name %>
              </td>
              <% if item.is_active? %>
                <td class="text-success">販売中</td>
              <% else %>
                <td class="text-secondary">販売停止中</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="mx-auto">
  	  <%= paginate @items %>
  	</div>
  </div>
</div>

