<h2>ジャンル編集</h2>

<%= form_with model: @genre, url: admin_genres_path do |f| %>
<%= render 'layouts/errors', obj: f.object %>

<div class="form-group">
  <%= f.label :genre, "ジャンル名" %>
  <%= f.text_field :genre, class: 'form-control' %>
</div>

<%= f.submit '変更を保存', class: 'btn btn-success' %>

<% end %>