<div class ="container">
  <div class = "row">
    <h2 class="col-3 ml-5 bg-light text-center">配送先登録/一覧</h2>
    <div class ="col-sm-12">
    <%= render 'form', address: @newaddress %>
    <table class ="table table-bordered">
      <thead class="bg-light">
        <td>郵便番号</td>
        <td>住所</td>
        <td>宛名</td>
        <td></td>
      </thead>
      <tbody>
        <% @address.each do |address| %>
        <tr>
          <td><%= address.postal_code %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td>
            <%= link_to "編集する", edit_shipping_address_path(address), class: "btn btn-success" %>
            <%= link_to "削除する",shipping_address_path(address) ,method: :delete, data: {confirm: "削除してよろしいですか？"}, class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>