<div class="container">
  <h2><i class="fa-regular fa-square-check mb-3"></i>注文情報確認</h2>
  <div class="row">
    <div class="col-xs-10">
      <table class="table table-bordered ">
        <thead>
          <tr class="bg-light">
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart| %>
            <tr>
              <td class="text-left">
                <%= image_tag cart.item.get_image, size: "80x60" %>
                <%= cart.item.name %>
              </td>
              <td width="150" class="text-left align-middle">
                ¥<%= tax_price(cart.item.non_taxed_price).to_s(:delimited) %>
              </td>
              <td width="120" class="text-left align-middle">
                  <%= cart.quantity %>
              </td>
              <td width="150" class="text-left align-middle">
                ¥<%= subtotal(cart).to_s(:delimited, delimiter: ',') %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-xs-3 offset-md-1">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="bg-light">送料</th>
            <td width="120" class="text-left col-xs-8">¥<%= @order.postage %></td>
          </tr>
          <tr>
            <th class="bg-light">商品合計</th>
            <td width="120" class="text-left">¥<%= total_price(@cart_items).to_s(:delimited) %></td>
          </tr>
          <tr>
            <th class="bg-light">請求金額</th>
            <td width="120" class="text-left">¥<%= billing(@order).to_s(:delimited) %></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="info bg-light">支払方法</th>
          <td class="text-left">
            <%= @order.payment_method %>
          </td>
        </tr>
        <tr>
          <th  class="info bg-light">お届け先</th>
          <td class="text-left">
            <%= "〒#{@order.postal_code} #{@order.address} 　#{@order.name}" %>
          </td>
        </tr>
        </thead>
      </table>
    </div>
  </div>

  <div class="row">
    <h3 class="mx-auto">
      <%= form_with model: @order, url: orders_path, method: :post, local: true do |f|%>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :postal_code%>
        <%= f.hidden_field :address%>
        <%= f.hidden_field :name%>
        <%= f.hidden_field :total_price%>
        <%= f.submit '注文を確定する', class:'btn btn-lg btn-success mt-5'%>
      <% end %>
    </h3>
  </div>
</div>