<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCakeEc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/9eb88cfd56.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if customer_signed_in? %>
      <%= render 'layouts/public/header' %>
    <% elsif %>
      <%= render 'layouts/admin/header' %>
    <% else %>
      <%= render 'layouts/public/header' %>
    <% end %>

    <main>
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </main>
<<<<<<< HEAD

=======
>>>>>>> origin/develop
  </body>
</html>
